
*.iml

*.class

.idea/

target/

ml-toolbox/core/ml-core-impl/trunk/src/main/resources/monalisa3.jpg

ml-toolbox/core/ml-core-impl/trunk/src/main/resources/stranden.jpg

ml-toolbox/ml-image-algorithms/src/main/resources/monalisa3.jpg

ml-toolbox/ml-image-algorithms/src/main/resources/stranden.jpg

sudoku/lib/com.springsource.org.junit-4.11.0.jar
